<!-- views/partials/musicpage.handlebars -->
        <div class="col">
            <div class="musicPlayer">
                <iframe src="https://www.deezer.com/plugins/player?format=classic&autoplay=true&playlist=true&width=700&height=350&color=007FEB&layout=dark&size=medium&type=playlist&id={{playlistId}}&app_id=1" width="700" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            </div>
        </div>

