body {
    background-color: rgb(20, 172, 113);
    /* Set the background color to light white */
    margin: 0px;
    /* Remove default body margin */
    padding: 0px;
    /* Remove default body padding */
}    

.logo {
    width: 264px;
    height: 155px;
    /* Maintain aspect ratio */
    z-index: 9999;
    /* Ensure the image stays above other elements */
    border-bottom-right-radius: 25px;
}

#Like-Buttons {
    align-items: center;
    /* These properties keep the this div center right */
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#like {
    /* background-image: url(/public/images/Like.jpg); */
    justify-content: right; 
    background-color: rgb(20, 172, 113);
    border: transparent;
}

#unlike {
    /* background-image: url(/public/images/Unlike.jpg); */
    justify-content: right;
    background-color: rgb(20, 172, 113);
    border: transparent;
}

#share{
    background-color: rgb(20, 172, 113);
    border: transparent;
}

.md.hydrated{
    font-size: 50px;
    background-color: rgb(20, 172, 113);
    color: white;    
}

#play{
    background-color: rgb(20, 172, 113);
    border: transparent;
}

#Logout{
    text-align: center;
    color: white;
    background-color: rgb(20, 172, 113);
    border: transparent;
    padding-top: 80px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    background-color: #333;
    margin-left: auto;
}

#history-list {
    background-color: #40fcb4;
    color: white;
    font-size: 20px;
    width: 250px;
    height: 300px;
    border-radius: 20px;
    text-align: center;
    min-height: 100px;
    margin-top: 62px;
    margin-left: -23px;
}

#history-heading {
    border: 2px solid black;
    border-radius: 25px;
    margin: 6px;
}

#column-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

#listening.box{
    border: white, solid;
}

#logout-container{
    display: flex;
    justify-content: flex-end;
    text-align: start;
    align-content: center;
}

@media screen and (min-width: 1000px) {
    #column-container{
        justify-content: space-between;
    }
}